.mysection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  }

  
  .Aligneritem {
    /* max-width: 50%; */
  }
  
  .Aligneritem2 {
    color: #dcdcdc;
    margin-left: auto ; 
    font-weight: normal;
    font-family: Carme, Noto Sans;
    font-size: 0.8em;
    padding-left: 3em;
      
  }